<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImgurKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ImgurShare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ImgurUpload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F50F16B1ACB1DD3005834EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F91CBFB1AC7FC24007DE5AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F91CC101AC7FC24007DE5AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F91CC371AC86DB2007DE5AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F91CC411AC86DB3007DE5AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
