#ej-plugin-socialslideout {
    overflow: hidden;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    width: 320px;
    display: none;
    height: 200px;
    padding: 0px;
    background-color: #fff;
    position: fixed;
    bottom: 20px;
    left: -360px;
    -moz-box-shadow: 1px 0px 6px #555;
    -webkit-box-shadow: 1px 0px 6px #555;
    box-shadow: 1px 0px 6px #555;
    color: #ffffff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    z-index: 9999;
}

#ej-plugin-socialslideout p {
    font-size: 18px;
    margin: 10px 0;
    line-height: 20px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
}

#ej-plugin-socialslideout p.ej-ss-description {
    height: 20px;
    overflow: hidden;
}

#ej-plugin-socialslideout p a#ej-plugin-socialslideout-close {
    color: #fff !important;
    position: absolute;
    top: 5px;
    right: 10px;
    text-decoration: none;
    font-size: 12px;
}

#ej-plugin-socialslideout h3 {
    color: #ffffff !important;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    margin: 20px 0px 0px 0px;
    font-weight: normal;
    padding: 0px;
    overflow: visible;
}

#ej-plugin-socialslideout .ejp-ss-top-box {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
}

#ej-plugin-socialslideout .ejp-ss-top-box.ejp-ss-facebook {
    background: #1365a1;
}

#ej-plugin-socialslideout .ejp-ss-top-box.ejp-ss-twitter {
    background: #1ba9e5;
}

#ej-plugin-socialslideout .ejp-ss-top-box.ejp-ss-googleplus {
    background: #4582ea;
}

#ej-plugin-socialslideout .ejp-ss-top-box.ejp-ss-youtube {
    background: #e42423;
}

#ej-plugin-socialslideout .ejp-ss-top-box.ejp-ss-itunes {
    background: #a369c8;
}

#ej-plugin-socialslideout .ejp-ss-top-box.ejp-ss-linkedin {
    background: #1985bc;
}

#ej-plugin-socialslideout .ejp-ss-top-box.ejp-ss-instagram {
    background: #685244;
}

#ej-plugin-socialslideout .ejp-ss-top-box.ejp-ss-pinterest {
    background: #c92832;
}

#ej-plugin-socialslideout .ejp-ss-btn-container {
    overflow: visible;
    /* Twitter and Pinterest seems to get cut off on the right when hidden */
    position: absolute;
    left: 80px;
    width: 225px;
}

#ej-plugin-socialslideout .ejp-ss-btn-container.ejp-ss-facebook {
    margin: 27px 0 0 5px;
}

#ej-plugin-socialslideout .ejp-ss-btn-container.ejp-ss-twitter {
    margin: 38px 0 0px 9px;
    text-align: center;
}

#ej-plugin-socialslideout .ejp-ss-btn-container.ejp-ss-googleplus {
    margin: 36px 0 0px 0px;
    text-align: center;
}

#ej-plugin-socialslideout .ejp-ss-btn-container.ejp-ss-youtube {
    margin: 34px 0 0px 0px;
    text-align: center;
}

#ej-plugin-socialslideout .ejp-ss-btn-container.ejp-ss-itunes {
    margin: 27px 0 0px 58px;
}

#ej-plugin-socialslideout .ejp-ss-btn-container.ejp-ss-linkedin {
    margin: 32px 0 0px 34px;
}

#ej-plugin-socialslideout .ejp-ss-btn-container.ejp-ss-instagram {
    margin: 31px 0 0px 40px;
}

#ej-plugin-socialslideout .ejp-ss-btn-container.ejp-ss-pinterest {
    margin: 36px 0 0px 0px;
    text-align: center;
    padding-right: 10px;
    /* Pinterest seems to get cut off on the right */
}

#ej-plugin-socialslideout .ejp-ss-btn-container.ejp-ss-pinterest a:not([class^="PIN"]):not([class*=" PIN"]) {
    cursor: pointer!important;
    color: #444!important;
    display: inline-block !important;
    font: bold normal normal 11px/20px "Helvetica Neue", helvetica, arial, san-serif !important;
    height: 20px!important;
    margin: 0!important;
    position: relative!important;
    text-decoration: none!important;
    text-indent: 19px!important;
    vertical-align: baseline!important;
    background-size: 200px 60px!important;
    background: rgba(0, 0, 0, 0) url(https://s-passets.pinimg.com/images/pidgets/bfs1.png) 0 0 no-repeat;
}

#ej-plugin-socialslideout .ejp-ss-btn-container.ejp-ss-pinterest a:not([class^="PIN"]):not([class*=" PIN"]) i {
    background-size: 200px 60px!important;
    background: rgba(0, 0, 0, 0) url(https://s-passets.pinimg.com/images/pidgets/bfs1.png) 0 0 no-repeat;
}

#ej-plugin-socialslideout .ejp-ss-btn-container.ejp-ss-pinterest a:not([class^="PIN"]):not([class*=" PIN"]) b {
    position: absolute!important;
    top: 3px!important;
    left: 3px!important;
    height: 14px!important;
    width: 14px!important;
    background-size: 14px 14px!important;
    background-image: url(https://s-passets.pinimg.com/images/pidgets/log1.png) !important;
}

#ej-plugin-socialslideout .ej-ss-slider-photo {
    float: left;
    width: 80px;
}

#ej-plugin-socialslideout .ej-ss-slider-photo img {
    margin: 10px auto 0 auto;
    padding: 1px;
    display: block;
    border: 1px solid #ddd;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}